<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title %></title>
</head>
<body>
    <h1>Product List</h1>

    <!-- Add Product Form -->
     <form action="/products/add" method="post">
        <input type="text" name="name" placeholder="Product Name" required>
        <input type="number" name="price" placeholder="Price" required>
        <button type="submit">Add Product</button>
     </form>
     <ul>
        <%products.forEach(product=>{%>
        <li>
            <%=product.name %> - $<%=product.price %>
            <form action="/products/delete/<%=product.id %>" method="post" style="display:inline;">
                <button type="submit">Delete</button>
            </form>
             <form action="/products/edit/<%= product.id %>" method="post" style="display:inline">
                <input type="text" name="name" value="<%= product.name %>">
                <input type="number" name="price" value="<%= product.price %>">
                <button type="submit">Edit</button>
             </form>
        </li>
       <% }) %>
     </ul>
</body>
</html>